.rightsidebar {

  max-width: 416px;
  width: 100%;
}

.rightsidebar__container {
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-top: 25px;
  width: 416px;
}

.basket__conteiner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #fff;
  height: 840px;
  border-radius: 32px;
  padding: 16px;
}

.basket__title {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  color: #404040;
  /* cursor: pointer; */
}

.basket__title__icon {
  font-size: 16px;
}

.basket__time {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  color: #a6a6a6;
}

.basket__btn {
  background: #ff335f;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  line-height: 19px;
  color: #fff;
  cursor: pointer;
  padding: 20px;
  opacity: .6;
  border-radius: 56px;
}